body {
    background-color: #050210;
}





.krug-boja {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 50%;
    background: linear-gradient( #fb5dad, #55fb9f, #b97aff);
    animation-name: krug-boja;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
    
}

.krug-boja::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: linear-gradient( #fb5dad, #55fb9f, #b97aff);
    filter:blur(40px); 
   
}


.centar  {
    background-color: #050210;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
        
}
.centar::before {

    background-color: rgb(13, 13, 33);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    animation-name: centar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: 150px, 150px;
    transition-timing-function: ease-out;
    

}
@keyframes centar {
    0% {
        transform: scale(0, 0);
        
    }
    
    
    100%{
        transform: scale(1, 1);
    }
}

@keyframes krug-boja {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}